:where(.css-dev-only-do-not-override-qnu6hi).ant-drawer-right
  > .ant-drawer-content-wrapper {
  padding: 13px;
  box-shadow: none;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-drawer .ant-drawer-content {
  border-radius: 13px !important;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-card .ant-card-body {
  padding: 14px;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-drawer .ant-drawer-body {
  padding: 14px;
}
:where(.css-qnu6hi).ant-drawer-right>.ant-drawer-content-wrapper {
  padding: 12px;
  box-shadow: none !important ;
}

:where(.css-qnu6hi).ant-drawer .ant-drawer-content{
  border-radius: 13px !important;
}

@media (max-width: 768px) {
  :where(.css-dev-only-do-not-override-qnu6hi).ant-drawer .ant-drawer-content-wrapper {
    padding: 12px !important; 
    padding-top : 50px !important;
    border-top-left-radius: 13px !important;
    border-top-right-radius: 13px !important;
    box-shadow: none;
    border-radius: 0px !important;

  }

  :where(.css-1hpnbz2).ant-drawer .ant-drawer-content {
    border-top-left-radius: 13px !important;
    border-top-right-radius: 13px !important;
  }
  :where(.css-dev-only-do-not-override-1hpnbz2).ant-drawer [class^="ant-drawer"]{
    border-top-left-radius: 13px !important;
    border-top-right-radius: 13px !important;
  }
  :where(.css-qnu6hi).ant-drawer .ant-drawer-content{
    border-top-left-radius: 13px !important;
    border-top-right-radius: 13px !important;
    border-radius: 0px !important;
  }
}
@media (max-width: 768px) {
  :where(.css-dev-only-do-not-override-qnu6hi).ant-drawer .ant-drawer-content-wrapper {
      padding: 12px !important; 
      padding-top : 50px !important;
      border-radius: 0px !important;
      border-top-left-radius: 13px !important;
      border-top-right-radius: 13px !important;
      box-shadow: none;
  }
  :where(.css-qnu6hi).ant-drawer-right>.ant-drawer-content-wrapper{
      padding: 12px !important;
      padding-top : 50px !important;
      border-top-left-radius: 13px !important;
      border-top-right-radius: 13px !important;
      box-shadow: none;
      border-radius: 0px !important;
  }

}

@media (max-width: 768px) {
  :where(.css-qnu6hi).ant-drawer .ant-drawer-content-wrapper {
      padding: 12px !important;
      padding-top : 50px !important;
      border-top-left-radius: 13px !important;
      border-top-right-radius: 13px !important;
      box-shadow: none;
      border-radius: 0px !important;
  }

 

}